* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Raleway" !important;
  font-size: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none !important;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/****************Logo & NavBar****************/
#header-menu {
  position: fixed;
  background: transparent;
  top: 0;
  z-index: 999;
  width: 100%;
}
.navbar .navbar-brand img {
  max-width: 100%;
  width: 150px;
  max-height: 100%;
}
.navbar .navbar-collapse.collapse.show .navbar-nav {
  background: #e2e8fb;
}
.navbar .navbar-collapse.collapse.show .navbar-nav .dropdown .nav-link {
  text-align: left;
  width: 90%;
  padding-left: 0.75rem;
}
.navbar .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem;
  color: #111 !important;
  line-height: 2.5;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 16px;
  background: #fff;
}
.navbar .navbar-nav .dropdown .nav-link {
  width: 100%;
  padding-left: 2rem;
  padding-right: 1.5rem;
  text-align: center;
  line-height: 2.5;
  background-color: #00af91;
  color: #111 !important;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  font-weight: 500;
  color: #00AF91 !important;
}
.nav-wrapper {
  background: rgba(0, 175, 145, 0.8) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
}
.nav-wrapper .navbar-nav .dropdown .nav-link {
  border: 1px solid #fff;
  border-radius: 10px;
  background: transparent !important;
}
.nav-wrapper .navbar .navbar-nav .nav-link {
  color: #fff !important;
}
.nav-wrapper .navbar .navbar-nav .dropdown .dropdown-menu {
  top: 97px;
  border: 0px;
  background: rgba(0, 175, 145, 0.8) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
}

.nav-wrapper .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  font-weight: 500;
  color: #fff !important;
}
.nav-wrapper .navbar .navbar-collapse.collapse.show .navbar-nav {
  background: initial;
}


/******************Slider**********************/

#slider {
  
  overflow: hidden;
  background-color: #e2e8fb;
  background-size: cover;
  min-height: 100vh;
}
#slider .content {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#slider .content h1 {
  font-weight: 800;
  font-size: 2.7rem;
}
#slider .content h1 > span{
  color: #00AF91;
}
#slider .content .btn  {
  background: #00AF91;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: #fff;
  transition: all 0.3s ease-in;
}
#slide .content .btn:hover {
  background: #01bd9d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
  transition: all 0.3s ease-in;
}
#slider .img-header img {
  max-width: 400px; 
  float: right;
  margin-top: 6rem;
  bottom: 6rem;
}

/*****************Blockain**************/

#blockain .content h2{
  font-weight: 800;
  font-size: 2.5rem;
  color: #00AF91;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
#blockain .content {
  padding-left: 2rem;
}
#blockain .content .btn  {
  background: #00AF91;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: #fff;
  transition: all 0.3s ease-in;
}
#blockain .content .btn:hover {
  background: #01bd9d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
  transition: all 0.3s ease-in;
}

/*************Advances***************/

#advances {
background-color: #e2e8fb;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

#advances .text-advance h2 {
  font-weight: 800;
  font-size: 2.5rem;
  color: #111;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
#advances p {
  font-weight: 800;
}
#advances .text-advance h2> span {
  color: #00AF91;
}
#advances .check-item{
  margin-bottom: 0.75rem;
}
#advances .check-item img {
  max-width: 100%;
  width: 20px;
  max-height: 100%;
}
#advances .text-advance .btn {
  background: #00AF91;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1.5rem;
  color: #fff;
  transition: all 0.3s ease-in;
}
#advances .text-advance .btn:hover {
  background: #01bd9d;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 5px;
  transition: all 0.3s ease-in;
}
#advances .text-advance .btn:focus {
  outline: 0;
  box-shadow: none;
}
#advances .item-advance{
  text-align: center;
  color: #fff;
  width: 150px;
  height: 160px;
  border-radius: 10px;
  padding: 2rem 1rem;
  margin-bottom: 1.4rem;
  background: #00AF91;
}
#advances .item-advance img {
  max-width: 100%;
  width: 50px;
  max-height: 100%;
}
#advances .item-advance p {
  font-weight: 700;
  letter-spacing: 1px;
}
#advances .item-advance.first,
#advances .item-advance.three {
  margin-top: 5.7rem;
}

/*************SetUp***************/
#setup .content-setup {
  padding-left: 2rem;
}
#setup .content-setup h2 {
  font-weight: 800;
  font-size: 2.5rem;
  margin-top: 5rem;
  color: #111;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}
#setup .inner {
  position: relative;
  padding: 2rem 1.7rem 1.8rem 1rem;
  margin: 0.7rem 0 1rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 5px;
}
#setup .inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 3.3rem;
  background: #f0f3f6;
}
#setup .inner .icon img {
  max-width: 100%;
  width: 80px;
  max-height: 100%;
}
#setup .inner h3 {
  padding: 1.5rem 0.5rem 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  color: #111;
  min-height: 70px
}
#setup .inner p{
  padding: 0rem 0.5rem;
}
#setup .inner .num {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  font-size: 1.2rem;
  background: #fff;
  color: rgba(0, 0, 0, 0.50);
}

/****************Business***************/
#Business {
  background-color: #e2e8fb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#Business .text-business h2 {
  font-weight: 800;
  font-size: 2.5rem;
  color: #111;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  max-width: 570px;
}
#Business .text-business h2> span {
  color: #00AF91;
}
#Business .text-business p {
  font-weight: 800;
  max-width: 500px;
}
#Business .check-item{
  margin-bottom: 0.75rem;
}
#Business .check-item img {
  max-width: 100%;
  width: 20px;
  max-height: 100%;
}
#Business .text-business .btn {
  background: #00AF91;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: #fff;
}
#Business .text-business .btn:hover {
  background: #01bd9d;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 5px;
  transition: all 0.3s ease-in;
}

/*************Contact****************/

#contact {
  background-color: #e2e8fb;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
}
#contact .content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
#contact .content h1 {
  position: relative;
  font-weight: 800;
  font-size: 2.7rem;
}
#contact .content h1::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  right: 17rem;
  bottom: 1.3rem;
  background: #00AF91;
}
#contact .img-header img {
  padding-top: 2rem;
}
#Form .title h2 {
  font-weight: 300;
  font-size: 2rem;
}
#Form .title p {
  margin-top: 1rem;
}
#Form .contact-item img {
  width: 50px;
}
#Form .contact-item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 2rem;
}
#Form .contact-item > a {
  color: #000 !important;
}
#Form .contact-item > a:hover {
  text-decoration: underline !important;
}
#Form .form-contact input, #Form .form-contact textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
#Form .form-contact input:focus, #Form .form-contact textarea:focus {
  outline: 0;
  box-shadow: none;
}
#Form .form-contact .form-control {
  padding: 1rem 0;
}
#Form .form-contact input[type="text"]::placeholder, 
#Form .form-contact textarea[type="text"]::placeholder,
#Form .form-contact input[type="email"]::placeholder {
  color: #111 !important;
  font-weight: 400;
}
#Form .form-contact .form-btn {
  background: #00AF91;
  font-weight: 500;
  width: 120px;
  color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*************Footer****************/

#footer .footer-top .icons a .icon {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  margin: 1rem;
  background: #fff;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
#footer .footer-top .icons a .icon:hover {
  padding-top: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: -1rem;
}
#footer .footer-bottom {
  padding-top: 2rem;
  border-top: 1px solid #e2e8ea;
  color: #67727c;
}
#footer .footer-bottom p {
  font-size: 1rem;
  font-weight: 300;
}
#footer .footer-bottom p > a {
  color: #000;
}
#footer .footer-bottom p > a:hover {
  color: #00AF91;
  text-decoration: underline !important;
}
#footer .footer-bottom ul {
  list-style: none;
  justify-content: center;
  font-size: 1rem;
}
#footer .footer-bottom ul li {
  display: inline-block;
  padding: 0 0.75rem;
  margin: 0;
  line-height: 1rem;
}
#footer .footer-bottom ul li a {
  font-weight: 300;
  color: #00AF91;
}
#footer .footer-bottom ul li a:hover {
  text-decoration: underline !important;
}





/***************Media Query Kryptonite************/

@media (max-width: 600.98px) {
  #slider{
    min-height: 70vh;
  }
  #contact .content h1 {
    margin-top: 6rem;
  }
  #slider .img-header img {
    display: none;
  }
  #features .item-feature {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #slider .content h1 {
    font-weight: 800;
    font-size: 1.7rem;
  }
  #blockain .content {
    padding-left: 0rem;
  }
  #setup .content-setup {
    padding-left: 0rem;
  }
  #footer .footer-bottom::before {
    bottom: 12rem;
  }
  #contact .content h1::before {
    display: none;
  }
  #form {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


@media (min-width: 601px) and (max-width: 782.98px) {
  #slider .img-header img {
    display: none;
    margin-top: 0rem; 
  }
  #slider .content h1 {
    font-weight: 900;
    font-size: 2.5rem;
  }
  #blockain .content {
    padding-left: 0rem;
  }
  
  #setup .content-setup {
    padding-left: 0rem;
  }
  #setup, #blockain, #Business, #advances {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #footer .footer-bottom::before {
    bottom: 12rem;
  }
  #contact .content h1::before {
    display: none;
  }
  #form {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


@media (min-width: 783px) {
  #setup, #blockain, #Business, #advances {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #advances .item-advance {
    width: 100%;
  }
  #advances .item-advance .offset-1 {
    margin-left: 0rem !important;
  }
  #form {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #slider {
    min-height: 100vh !important;
    text-align: center;
  }
  #slider .content h1 {
    font-weight: bold !important;
    font-size: 2rem;
    margin-top: 9rem;
    line-height: 1.3;
  }
  #blockain .content h2, #advances .text-advance h2, 
  #setup .content-setup h2, #Business .text-business h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  #slider .content .btn {
    padding: 0.8rem 1.5rem;
  }
  #advances .text-advance .btn,
  #Business .text-business .btn,
  #blockain .content .btn {
    width: 100%;
    padding: 0.8rem 1.5rem;
  }
  #slider .img-header img {
    display: none;
  }
  .navbar .navbar-nav .nav-link {
    margin: 0.3rem;
  }
  .navbar .navbar-collapse.collapse.show .navbar-nav .dropdown .nav-link {
    text-align: center !important;
  }
  #features .item-feature {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  #setup .content-setup {
    padding-left: 0rem;
  }
  #setup, #blockain, #Business, #advances {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #advances .item-advance {
    width: 100%;
  }
  #advances .item-advance.first {
    margin-top: 2rem;
  }
  #advances .item-advance.three {
    margin-top: 0rem;
  }
  #advances .offset-1 {
    margin-left: 0% !important;
  }
  #form {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  #setup, #blockain, #Business, #advances {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #advances .item-advance {
    width: 100%;
  }
  #advances .item-advance.first {
    margin-top: 2rem;
  }
  #advances .item-advance.three {
    margin-top: 0rem;
  }
  #advances .item-advance.three {
    margin-top: 13.7rem;
  }
  #advances .offset-1 {
    margin-left: 0% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #slider {
    min-height: 100vh;
  }
  #contact {
    min-height: 40vh !important;
  }
  #slider .content h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-top: 7rem !important;
  }
  #features .item-feature {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  
  #advances .item-advance.first, 
  #advances .item-advance.four {
    display: none;
  }
  #advances .item-advance.three {
    margin-top: -22rem;
  }
  #advances .item-advance .offset-1 {
    margin-left: 0% !important;
  }
  #advances .item-advance.itm-1 {
    margin-top: 2rem !important;
  }
  #advances .text-advance .btn {
    margin-bottom: 2rem;
  }
  #contact .img-header img{
    display: none;
  }
  #form {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 501px) {
  #contact {
    min-height: 30vh !important;
  }
  #features .item-feature {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  #setup, #blockain, #Business, #advances {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  #advances .item-advance.first, 
  #advances .item-advance.four {
    display: none;
  }
  #advances .item-advance.three {
    margin-top: 0rem;
  }
  #advances .text-advance .btn {
    margin-bottom: 2rem;
  }
  #advances .offset-1 {
    margin-left: 0% !important;
  }
  #footer .footer-bottom::before {
    bottom: 8rem;
  }
  #contact .img-header img{
    display: none;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #slider{
    min-height: 90vh;
  }
  #contact {
    min-height: 40vh;
  }
  #contact .offset-1 {
    margin-left: 0% !important;
  }
  #contact .content .img-header img {
    display: none;
  }
  #contact .content h1::before {
    right: 170px;
  }
  #slider .content h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-top: 10rem !important;
  }
  #slider .img-header img {
    display: none;
  }
  #features .item-feature {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }
  #advances .item-advance {
    margin-top: 2rem;
    padding: 1rem 0rem;
    width: 140px !important;
  }
  #advances .item-advance.itm-1,
  #advances .item-advance.itm-2,
  #advances .item-advance.itm-3 {
    margin-left: 4rem !important;
  }
  #advances .item-advance.three,
  #advances .item-advance.four {
    margin-left: -12.5rem;
  }
  #advances .item-advance.three {
    margin-top: 13.7rem !important;
  }
  #advances .item-advance.first {
    margin-top: 2rem;
  }
  #advances .item-advance.three {
    margin-top: 0rem;
  }
  #advances .offset-1 {
    margin-left: 0% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1199.98px) {
  #slider .img-header img {
    margin-top: 10rem !important;
    max-width: 350px; 
  }
  #contact .content h1::before {
    right: 160px;
  }
  #advances .item-advance.first {
    margin-left: -4em !important;
  }
  #advances .item-advance.itm-1,
  #advances .item-advance.itm-2,
  #advances .item-advance.itm-3 {
    margin-left: -3rem !important;
  }
  #advances .item-advance.three,
  #advances .item-advance.four {
    margin-left: -1rem;
  }
  #advances .item-advance {
    width: 140px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #slider .img-header img {
    margin-top: 8rem !important;
    max-width: 450px; 
  }
  #contact .content h1::before {
    right: 250px;
  }
}

@media (max-width: 1024px) {
  #advances .item-advance .first {
    float: right !important;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
  #contact .content h1::before {
    right: 350px;
  }
}